/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /* background-color: #E5E5E5; */
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1040px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

ol,
ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

/* ************** HEADER STYLES START ************** */
.site-header{
    margin-bottom: 170.46px;
}

.site-header__wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.sitenav__list{
    display: flex;
}

.sitenav__item:not(:last-child){
    margin-right: 30px;
}

.sitenav__item:last-child .sitenav__link{
    padding-bottom: 6px;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #666666;
    border-bottom: 1px solid #333333;
}

.sitenav__link{
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #333333;
}

/* ************** HEADER STYLES END ************** */



/* ************** MAIN STYLES START ************** */

/* ************** HERO SECTION STYLE STARTS ************** */
.site-main{
    
}

.hero-section{
    position: relative;
    margin-bottom: 68px;
    padding-bottom: 185px;
    border-bottom: 2px solid #ddd;
}


.hero-section__wrapper--start{
    width: 490px;
}

.hero-section__title{
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    color: #000000;
}

.hero-section__desc{
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 40px;
    font-size: 16px;
    line-height: 150%;
    color: #777777;
    border-left: 3px solid #888888;
}

.hero-section__link{
    margin-top: 0;
    padding: 12px 38.5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #EA625C;
}

.hero-section__img{
    width: 587px;
    height: 565px;
    position: absolute;
    top: -113px;
    right: calc(50% - 835px);
}
/* ************** HERO SECTION STYLE ENDS ************** */


/* ************** RUN SECTION STYLE STARTS ************** */
.run-section{
    margin-bottom: 140px;
}


.run-section__list{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

.run-section__item{
    width: 280px;
}

.run-section__item:not(:last-child)::after{
    display: block;
    width: 8px;
    height: 8px;
    background-color: #ddd;
    box-shadow: 18px 0px 0px 0px #ddd, 36px 0px 0px 0px #ddd;
    content: ""
}

.run-section__list:not(:last-child){
    margin-right: 80px;
}

.run-section__title{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: #222222;
}

.run-section__desc{
    font-size: 15px;
    line-height: 160%;
    color: #333333;
}

.run-section__link{
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    text-transform: uppercase;
    color: #EA625C;
}

.run-section__link::before{
    margin-top: 10px;
    margin-right: 10px;
    width: 40px;
    height: 0px;
    border: 2px solid #EA625C;
    content: "";
}

/* ************** RUN SECTION STYLE ENDS ************** */






/* ************** MAIN STYLES END ************** */
